@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Roboto Condensed', sans-serif;
  overflow: hidden;
}
.headerMain{
  justify-content: space-between !important;
}
.badgesIn .lazy-load-image-background{
  margin-right: 10px;
}